@import '~ng-zorro-antd/ng-zorro-antd';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/checkbox';
@import './styles/reservation-wizard';
@import './styles/variables';

@font-face {
  font-family: 'Beatrice';
  src: url('/assets/fonts/Beatrice-Light.woff') format('opentype');
}

html body {
  background-color: @background-color !important;
  font-family: Beatrice;
  color: @primary-color;
}

nz-layout {
  background: @background-color !important;
}

nz-content {
  padding-top: 100px;
  width: 100vw;
}

nz-header {
  background: @background-color !important;
}

nz-menu {
  background: @background-color !important;
}

.ant-drawer-content {
  position: initial !important;
}

.ant-drawer-header,
.ant-drawer-body {
  background-color: @secondary-color !important;
  border-bottom: none !important;
}

.ant-affix {
  background-color: #eae1d3;
}

.ant-picker-input > input {
  text-align: center !important;
  color: @primary-color;
}

.ant-picker-input > input::placeholder {
  color: @primary-color;
}
