@import '~ng-zorro-antd/ng-zorro-antd';
@primary-color: #1d2b15;
@secondary-color: #B7400B;
@backgroung-color: #eae1d3;

@font-face {
  font-family: 'Beatrice';
  src: url('/assets/fonts/Beatrice-Light.woff') format('opentype');
}

html body {
  background-color: @backgroung-color !important;
  font-family: Beatrice;
}

nz-layout {
  background: @backgroung-color !important;
}

nz-content {
  padding-top: 100px;
  width: 100vw;
}

nz-header {
  background: @backgroung-color !important;
}

nz-menu {
  background: @backgroung-color !important;
}
