/* You can add global styles to this file, and also import other style files */
@import '~ng-zorro-antd/ng-zorro-antd';
@primary-color: #000000;
@layout-header-background: @primary-color;
@layout-sider-background: @primary-color;
@backgroung-color: #ffffff;
@layout-body-background: @backgroung-color;
@select-item-selected-color: #ffffff;

@font-face {
  font-family: Grotesk;
  src: url('/assets/fonts/RightGrotesk-Medium.otf') format('opentype');
}

html body {
  background-color: @backgroung-color !important;
  font-family: Grotesk;
}
