commands:
  01_install_chrome:
    command: curl https://intoli.com/install-google-chrome.sh | bash
    ignoreErrors: true
  02_install_libXScrnSaver:
    command: sudo rpm -ivh --nodeps --replacepkgs http://mirror.centos.org/centos/7/os/x86_64/Packages/libXScrnSaver-1.2.2-6.1.el7.x86_64.rpm
    ignoreErrors: true
  02_install_libpng12:
    command: sudo rpm -ivh --nodeps --replacepkgs http://mirror.centos.org/centos/7/os/x86_64/Packages/libpng12-1.2.50-10.el7.x86_64.rpm
    ignoreErrors: true

