@import '~ng-zorro-antd/ng-zorro-antd';
@primary-color: #1d2b15;
@layout-header-background: @primary-color;
@layout-sider-background: @primary-color;
@backgroung-color: #eae1d3;
@layout-body-background: @backgroung-color;
@select-item-selected-color: #ffffff;

@font-face {
  font-family: 'Beatrice';
  src: url('/assets/fonts/Beatrice-Light.woff') format('opentype');
}

html body {
  background-color: @backgroung-color !important;
  font-family: Beatrice;
}
