@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Grotesk';
  src: url('assets/fonts/FoundersGrotesk-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Grotesk';
  src: url('assets/fonts/FoundersGrotesk-LightItalic.otf') format('opentype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ogg';
  src: url('assets/fonts/Ogg-Roman.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Ogg';
  src: url('assets/fonts/Ogg-Italic.otf') format('opentype');
  font-style: italic;
  font-display: swap;
}

html body {
  font-family: Grotesk;
  background-color: #ebe8e2;
  color: #272727;
}

.flower-shadow {
  filter: drop-shadow(15px 30px 10px rgb(0 0 0 / 0.4));
}

.flower-2 {
  margin-right: -120px;
}

.flower-3 {
  margin-left: -120px;
}

.text-10xl {
  font-size: 170px;
}

.leading-7-custom {
  line-height: 5.5rem;
}

.font-ogg {
  font-family: 'Ogg';
}

.font-grotesk {
  font-family: 'Grotesk';
}

.border-top {
  border-top: 1px solid #272727;
}

.border-bottom {
  border-bottom: 1px solid #272727;
}
