@import '~ng-zorro-antd/ng-zorro-antd';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@primary-color: #000000;

.font-grotesk {
  font-family: 'RightGrotesk';
}

.font-grotesk-wide {
  font-family: 'RightGroteskWide';
}

body {
  margin: 0;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background: white;
  position: relative;
  z-index: 1;
  font-family: 'RightGrotesk';
}

.ant-affix {
  width: 100vw !important;
  background-color: white !important;
  z-index: 20;
}

.menu {
  .ant-drawer-header,
  .ant-drawer-body {
    @media only screen and (max-width: 768px) {
      background-color: black !important;
      border-bottom: none !important;
    }
  }
}

.ant-menu {
  @media only screen and (max-width: 768px) {
    background-color: black !important;
  }
}

.ant-menu-submenu {
  @media only screen and (max-width: 768px) {
    font-size: 24px;
    border-bottom: 1px solid rgb(255, 255, 2255, 0.5) !important;
  }
}

.ant-menu-submenu-title:hover,
.ant-menu-item:hover,
.ant-menu-submenu:hover,
.ant-menu-item-active,
.ant-menu-submenu-active,
.ant-menu-item-open,
.ant-menu-submenu-open,
.ant-menu-item-selected,
.ant-menu-submenu-selected {
  color: black !important;
  background-color: #e0e0e0 !important;

  @media only screen and (max-width: 768px) {
    color: white !important;
    background-color: #0e0e0e !important;
  }
}

.ant-menu-submenu:hover::after,
.ant-menu-submenu-selected::after,
.ant-menu-submenu-open::after {
  border-bottom: 2px solid #0e0e0e !important;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.ant-page-header {
  padding: 0 !important;
}

.btn-black {
  @apply bg-black text-white w-full p-3 rounded h-auto;
}

.btn-black:hover {
  @apply bg-black text-white w-full p-3 rounded h-auto;
}

.mobile-submenu {
  .ant-menu-submenu-title {
    padding: 0 !important;
  }
  .ant-menu-item {
    padding: 0 !important;
  }
}

.ant-collapse-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-collapse-content-box {
  padding-left: 0 !important;
}

.ant-collapse-arrow {
  right: 0 !important;
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  color: #ffffff;
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner:hover {
  color: #000000;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #ffffff;
}

.slick-list {
  height: 64vh !important;
  @media only screen and (max-width: 768px) {
    height: 50vh !important;
  }
}

.max-1440 {
  max-width: 1440px;
}

.product-detail-skeleton {
  .ant-skeleton-element .ant-skeleton-image {
    width: 45vw;
    height: 50vh;
    @media only screen and (max-width: 768px) {
      width: 100vw;
    }
  }
}

.products-catalog-skeleton {
  .ant-skeleton-element {
    width: 100%;
    .ant-skeleton-image {
      width: 100%;
      height: 240px;
      @media only screen and (max-width: 992px) {
        height: 120px;
      }
    }
  }
}
